#container{
    padding: 0;
    display: flex;
    flex-direction: column;
}
/* HTML Container  */
#t1container{
    background-color: #FFF4A3;
    width: 100%;
    height: 600px;
    padding: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

    
}

#t1left{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-top: 0;
}

#t1left a{
    width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 10px;   
    margin: 5px;
    border-radius: 20px;
}

#lhtml{
    background-color: #04AA6D;
    color: white;
}
#lhtml:hover{
    background-color: #028656;
}

#vhtml{
    background-color: #282A35;
    color: white;
}
#vhtml:hover{
    background-color: #18191d;
}

#htref{
   background-color: #FFC0C7; 
   color: black;
}
#htref:hover{
    background-color: #fda2ac;
}
#hcref{
    background-color: white;
    color: black;
}
#hcref:hover{
    background-color: rgb(197, 195, 195);
}

#t1right{
    width: 450px;
    height: 450px;
    background-color: rgb(218, 218, 218);
    box-shadow: 1px 1px 15px grey;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

#t1right div{
    background-color: white;
    border-left: 5px solid #04AA6D;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    
}

#t1right a{
    background-color: #04AA6D;
    color: white;
    border-radius: 20px;
    padding: 10px;
    padding-inline: 40px;
    margin:20px;
    text-decoration: none;
    font-size: 1.3rem;
}
#t1right a:hover{
    background-color: #028656;
}

/* CSS Container */

#csscontainer{
    background-color: #96D4D4;
    color: black;
    width: 100%;
    height: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 100px;
}

#cssleft{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 400px;
    height: 400px;

    margin: 30px;
}

#cssleft a{
    text-decoration: none;
    width: 150px;
    padding: 10px;
    margin: 10px;
}

#lcss{
    color: white;
    background-color: #04AA6D;
    border-radius: 20px;
}
#lcss:hover{
    background-color: #028656;
}

#cssref{
    color: white;
    background-color: rgb(41, 37, 37);
    border-radius: 20px;
}
#cssref:hover{
    background-color: #18191d;
}

#csscref{
    color: black;
    background-color: #FFC0C7;
    border-radius: 20px;
}
#csscref:hover{
    background-color: #fda2ac;
}

#cssright{
    color: black;
    background-color: rgb(218, 218, 218);
    width: 450px;
    height: 450px;
    padding: 20px;
    margin: 0px;
    margin-right: 70px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(78, 76, 76);
}

#cssright div{
    background-color: white;
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    border-left: 5px solid #04AA6D;
}

#cssright a{
    text-decoration: none;
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    margin: 20px;
    padding-inline: 30px;
    border-radius: 20px;
    font-size: 1.3rem;
}
#cssright a:hover{
    background-color: #028656;
}

#courses{
    background-color: rgb(56, 52, 52);
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    padding: 100px;
    justify-content: center;
    align-items: center;

}

#courses div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    width: 500px;
}

#courses a{
    background-color: rgb(41, 37, 37);
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#courses a:hover{
    background-color: #18191d;
}

#courses h4{
    font-size: 1.1em;
    margin: 50px;
    margin-top: 0;
    color: #27282c;
}

#php{
    background-color: #FFC0C7;
}
#jquery{
    background-color: #FFF4A3;
}
#java{
    background-color: #F3ECEA;;
}
#c2{
    background-color: #D9EEE1;
}
#bootstrap{
    background-color: #96D4D4;
}
#python{
    background-color: #E7E9EB;
}