#content{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container{

    width: 70%;
    height: 400px;
    margin: 30px;
    padding: 50px;
    border-top: 3px solid rgb(0, 157, 219);



}

#form-container #form-box{

    width: 90%;
    height: 350px;


    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    /* align-items: center; */
}



.form-div{
    width: 90%;
    height: 500px;

    padding: 30px;
    margin-block: 30px;
}

.from-option{
    background-color: rgb(216, 230, 236);
    color: rgb(2, 67, 207);
    border: 1px solid rgb(2, 67, 207);
    font-size: 1.5rem;
    margin: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

.from-option:hover{
    background-color: rgb(165, 216, 236);
}

#extra-width{
    width: 350px;
}

.form-div button{
    background-color: rgb(33, 33, 252);
    color: white;
    font-size: 2rem;
    font: bold;
    padding-inline: 12px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

#adv{
    background-color: rgb(33, 33, 252);
    color: white;
    font-size: 1.5rem;
    font: bold;
    width: 150px;
    text-align: center;
    margin-left: auto;
    border-radius: 5px;
    bottom: 0;


}